  
body
{
    background-color: beige
}

nav
{
    background-color: lightblue;
    text-align: center;
}

h1.index
{
    font-family: 'Montserrat', sans-serif;
  
}
ul > li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: solid gray 1px;
}
ul
{
    margin: 0;
    padding: 0;
}